.container {
  border: 1px solid #dcdcdc;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

th,td {
  text-align: right;
  max-width: 200px;
}

td {
  min-width: 100px;
}

.check-btn {
  background: #3385ff;
  border: 1px solid #3385ff;
  border-radius: 4px;
  padding: 5px 10px;
  color: #FFFFFF;
  font-size: 14px;
}